BODY { background: #b0cfb9; padding: 50px;}
H1, H2, H3 {color: #948c94; font-family: sans-serif;             
    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 0px 0 #000,
                2px 0px 0 #000,
                0px -2px 0 #000,
                0px 2px 0 #000;
         }
#mypic {width: 200px;}


#introduction h2 { font-style: italic;}
#introduction p { font-size: 120%;}

.navigation {
display: flex;
gap: 20px;
}