/*------------------------------------------------------------------*/
/* env08.css */

/* Styles for Vic's Alpine Adventure #8 */
.theBody {
    background-color: lightblue;
  }


#parvenuPeak {
/* Adjust the angle as needed */
  transform: rotate(45deg);
  animation: rotation 3s infinite linear;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10%;
  border: 5px solid black;
}

/* Keyframes for rotation animation so Parvenu Peak can go wild */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*------------------------------------------------------------------*/
