.intro {
    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 0px 0 #000,
                2px 0px 0 #000,
                0px -2px 0 #000,
                0px 2px 0 #000;

         }

.parvenu {

width: 400px;
height: 250px;

}